#wrapper {
  width: $content_width;
  margin: 50px auto;

  #main-content {
    float: left;
  }
  #side-content {
    float: left;
    width: 248px;
  }
}

@import '../partials/top/header';
@import '../partials/top/pickup';
@import '../partials/top/category';
@import '../partials/top/timeline';
@import '../partials/top/timeline_item';
@import '../partials/top/sidebar';

