$timeline_item_height: 100px;

.timeline__item { 
  .item__inner {
    height: $timeline_item_height;
    padding: 15px 0;
  }
  .item__image {
    width: $timeline_item_height;
    height: $timeline_item_height;
  }
  .item__content {
    width: calc(100% - #{$timeline_item_height} - 20px);
    height: $timeline_item_height;
    margin: 0 10px;
  }
  .item__title {
    font-size: 15px;
  }
  .item__description {
    margin-top: 5px;
    font-size: 10px;
  }
  .item__info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
  }
  .item__contributor {
    .contributor__avator {
      width: 20px;
      height: 20px;
    }
    .contributor__name {
      padding-left: 5px;
      font-size: 11px;
    }
  }
  .item__views {
    font-size: 10px;
    .views {
      padding-right: 2px;
      font-size: 14px;
    }
  }
}
