#category {
  float: left;
  width: $top_category_width;
  .category_list {

  }
  .category__item {
    height: $top_category_height;
    padding-left: 8px;
    color: $text_color_normal;
    font-size: 12px;
    line-height: $top_category_height;
    &.active, &:hover {
      background-color: #eee;
      font-weight: 600;
      border-right: 2px solid #ddd;
      cursor: pointer;
    }
  }
}
