html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  color: #777;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote {
  margin: 0;
}
