#edit-body {
  margin: 100px 0 50px 0;
  .body__inner {
    width: $content_width;
    margin: 0 auto;
    padding: 30px 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  .article__item--draft {
    padding: 10px 15px;
    .article__item__control, .article__item__edit {
      opacity: 0;
    }
    &:hover {
      background-color: #eee;
      cursor: pointer;
      .article__item__control, .article__item__edit {
        opacity: 1;
      }
    }
  }
  .article__item__control {
    text-align: right;
    letter-spacing: -.40em;
    .control__item {
      // padding: 4px 6px;
      display: inline-block;
      width: 26px;
      height: 26px;
      padding: 0;
      margin: 0;
      line-height: 26px;
      border: 1px solid #ddd;
      text-align: center;
      letter-spacing: normal;
    }
  }
  .article__item__edit {
    font-size: 12px;
    text-align: right;
    i {
      padding-right: 1px;
    }
    a {
      color: #337ab7;
    }
    span {
      color: #555;
    }
  }
}