$error_color: #ca493c;

.form__item__wrapper {
  position: relative;
}
.input_error {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 8px;
  border-right: 5px solid $error_color;
  pointer-events: none;
  .error_msg {
    color: $error_color;
    font-size: 10px;
    text-align: right;
  }
}
